@charset "UTF-8";
body{
	font-family:"휴먼모음T";
}

div,section,header,footer{padding:10px;}

div#container{
	background-color:#F0F0F0;
	width:60%;
	margin:0 auto;
}




header{
	background-color:#D8CDB0;
	height:130px;
	position:relative;
	padding:10px 0 0 0;
}
header h1{
	margin-left : 10px;
}

section#content{
	background-color:#F5F5F5;
	float:center;
	margin : 20px;
	display:flex;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	align-items:center;
	justify-content:center;
	
}

footer{
	background-color:#D8CDB0;
	clear:both;
	height:75px;
	text-align:center;
	padding-top:40px;
	margin-top: 50px;
}

/* 로그인컨테이너 */
header div.login-container{width:250px; position:absolute; right: 0px; top: 10px;}

#loginFrm table{empty-cells:hide;}
#loginFrm input[type=submit]{width:60px; height:50px; color:white; background:#3300ff; position:absolute; top:10px;}
#saveId+label{font-size:12px;font-family:'고딕'}


/* 회원가입페이지 */
section#enroll-container {text-align:center;}
section#enroll-container input{margin:3px;}
section#enroll-container table{margin:0 auto;}
section#enroll-container table th {padding:0 10px; text-align:right;}
section#enroll-container table td {padding:0 10px; text-align:left;}

  
  .right-panel {
    flex: 1;
    background-color: #7ba37e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 20px;
  }
  
  /* 폼 스타일 */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fefefe;
    font-size: 10px;
  }
  
  button {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4d4d3d;
    color: white;
    font-size: 10px;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    background-color: #333;
  }
  

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
    float: right;
  }
  
  .small-text {
    font-size: 10px;
    color: #ffffff;
    opacity: 0.9;
  }
  
  .small-text a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    float: right;
  }
  
  .small-text a:hover {
    text-decoration: underline;
  }
  
  /* 페이지별 스타일 */
  .title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom:3px solid white;
  }
  
  .description {
    font-size: 10px;
    color: white;
    margin-bottom: 10px;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .flex-row button {
    flex: 1;
    margin: 0 10px;
  }

