@charset "UTF-8";

/* * div{
	border: 1px solid red;
} */
/* 전체 컨테이너 스타일 */
.header-container {
  background-color: #F6F2ED;
  font-family: Arial, sans-serif;
}

/* 헤더 스타일 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}


/* 로고 스타일 */
.logo {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

/* 검색 컨테이너 */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex: 2;
}

/* 검색 폼 */
.search-form {
	flex:1;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    height: 40px;
    background-color: #5A8B63;
    padding: 0px 4px;
    gap: 5px;
}

/* 입력 필드 */
.search-input {
    flex: 1;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
    color: #495057;
    background-color: transparent;
}

/* 버튼 */
.search-button {
    background-color: #5A8B63;
    color: white; /* 아이콘 색상 */
    border: none;
    width: 10px; 
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}

/* 버튼 아이콘 */
.search-button i {
    font-size: 15px;
}

/* 버튼 호버 효과 */
.search-button:hover {
    /* background-color: #679a67; */ /* 호버 시 어두운 녹색 */
    background-color: white;
    color: #5A8B63;
}



 
 
 /* 헤더 메뉴 스타일 */
.icons {
	display: flex;
  	flex: 1;
  	justify-content: flex-end;
}

.icons>div {
	padding: 0px 10px;
}

.icons a {
  	text-decoration-line: none;
    color: #514D48;
    font-size: 10px;
    padding: 0;
    white-space: nowrap;
}

/* 카테고리 바 스타일 */
.category-bar {
  	text-align: center;
  	font-size: 14px;
  	font-weight: bold;
  	padding: 0px 5px;
  	border-width: 2px 0px;
  	border-color: rgba(90,139,99,0.5);
  	border-style: solid;
}

/* ul태그의 가운데정렬 */
ul.main-nav{
	display:flex;
	justify-content: space-around;
	padding:0px;
	margin:auto;
}

ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2em;
	float: left; 
	text-align: center; 
}

ul.main-nav li a {
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #514D48;
}

/* hover시 배경색 변경 */
ul.main-nav li:hover{
	background-color: rgba(90,139,99,0.5);
}

ul.main-nav li:hover > a{
	color:white; /* 글자색*/
	text-decoration: underline;
}
 
@media (max-width: 768px) {
  .icons {
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
}